body{
    background: #303030;
}


#content{
    text-align: center;
    width: 414px;
    margin: 100px auto 100px;
}

/* start screen */
#start_screen {
    position: absolute;
}

#playBtn{
	position: absolute;
    top: 570px;
	left: 100px;
}

#playBtn:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#instructionBtn{
	position: absolute;
	top: 650px;
	left: 100px;
}

#instructionBtn:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}





/* buttons on instruction pages */
.startGame{
	position: absolute;
	top: 668px;
	left: 26px;
}

.startGame:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

/* instruction 1 */
#instructionOne {
    position: absolute;
    display: none;
}

#rightArrow1{
	position: absolute;
	top: 670px;
	left: 323px;
}

#rightArrow1:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


/* instruction 2 */
#instructionTwo {
    position: absolute;
    display: none;
}

#rightArrow2{
	position: absolute;
	top: 670px;
	left: 323px;
}

#rightArrow2:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#leftArrow{
	position: absolute;
	top: 670px;
	left: 248px;
}

#leftArrow:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

/* instruction 3 */
#instructionThree {
    position: absolute;
    display: none;
}

#leftArrow3{
	position: absolute;
	top: 670px;
	left: 320px;
}

#leftArrow3:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


/* level selection page */
#level_selection {
    position: absolute;
    display: none;
}

#levelOneBtn{
	position: absolute;
	top: 200px;
	left: 100px;
}

#levelOneBtn:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#leftArrow2{
	position: absolute;
	top: 530px;
	left: 100px;
}

#leftArrow2:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


/* game screen */
#gameScreen {
    position: absolute;
    display: none;
}
