body{
    background: #303030;
    margin: 0;
    padding: 0;
}


#content{
    text-align: center;
    width: 414px;
    margin: 100px auto 100px;
}

/* start screen */
#start_screen {
    position: absolute;
}

#playBtn{
	position: absolute;
    top: 520px;
	left: 80px;
}

#playBtn:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#instructionBtn{
	position: absolute;
	top: 590px;
	left: 80px;
}

#instructionBtn:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#leaderboardBtn{
    position: absolute;
    top: 660px;
    left: 80px;
}

#leaderboardBtn:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

/*timer with 60 seconds*/



/* buttons on instruction pages */
.startGame{
	position: absolute;
	top: 668px;
	left: 26px;
}

.startGame:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

/* instruction 1 */
#instructionOne {
    position: absolute;
    display: none;
}

#rightArrow1{
	position: absolute;
	top: 670px;
	left: 323px;
}

#rightArrow1:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


/* instruction 2 */
#instructionTwo {
    position: absolute;
    display: none;
}

#rightArrow2{
	position: absolute;
	top: 670px;
	left: 323px;
}

#rightArrow2:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#leftArrow{
	position: absolute;
	top: 670px;
	left: 248px;
}

#leftArrow:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

/* instruction 3 */
#instructionThree {
    position: absolute;
    display: none;
}

#leftArrow3{
	position: absolute;
	top: 670px;
	left: 320px;
}

#leftArrow3:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


/* level selection page */
#level_selection {
    position: absolute;
    display: none;
}

#levelOneBtn{
	position: absolute;
	top: 200px;
	left: 100px;
}

#levelOneBtn:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.leftArrow2{
	position: absolute;
	top: 530px;
	left: 100px;
}

.leftArrow2:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


/* game screen */
#gameScreen {
    position: absolute;
    display: none;
}

#ballDiv{
    position: absolute;
}

#ball{
    position: absolute;
    z-index: 1;
}

#ball:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#drag {
    position: absolute;
    top: 530px;
    left: 70px;
}

#drop {
    position: absolute;
    top: 90px;
    left: 70px;
}

.drag-digit span{
	margin-right: 6px;
    color: white;
}

.drag-digit{
	padding: 45px;
	cursor: pointer;
}

.drop-digit{
    border: 5px solid black;
    padding: 40px;
}

.obstacle1 {
    background-image: url(../images/obstacles/Stone_Object_Left.png);
}

.obstacle2 {
    background-image: url(../images/obstacles/Glass_Object_Left.png);
}

.obstacle3 {
    background-image: url(../images/obstacles/Wood_Object_Left.png);
}

#obstacle4 {
    background-image: url(../images/obstacles/Stone_Object_Right.png);
    border: solid;
}

.obstacle5 {
    background-image: url(../images/obstacles/Glass_Object_Right.png);
}
.obstacle6 {
    background-image: url(../images/obstacles/Wood_Object_Right.png);
}


table{
    border-collapse: collapse;
}

#winningScreen{
    position: absolute;
    display: none;
    z-index: 2;
}

#win{
    position: absolute;
    top: 200px;
    left: 30px;
}

#leaderboard{
    position: absolute;
    display: none;
}

#leaderboardScroll{
    position: absolute;
}

#leaderboardContainer{
    position:  absolute;
    top: 200px;
    left: 58px;
    width: 300px;
}

#formContainer{
    position:  absolute;
    top: 300px;
    left: 120px;
    z-index: 2;
}